CacheDB.Net/CacheDB.Net/Cachedbsection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:CacheDB.Net" elementFormDefault="qualified" targetNamespace="urn:CacheDB.Net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cacheDbSection" type="tns:CacheDB.Net.CacheDbSectionCT" />
	<xs:complexType name="CacheDB.Net.CacheDbSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="levels" type="tns:CacheDB.Net.LevelCachedCollectionCT">
				<xs:annotation>
					<xs:documentation>The Levels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="dbManager" type="tns:CacheDB.Net.DbManagerConfigCT">
				<xs:annotation>
					<xs:documentation>The DbManager.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="policies" type="tns:CacheDB.Net.PolicyCollectionCT">
				<xs:annotation>
					<xs:documentation>The Policies.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.LevelCachedConfigCT">
		<xs:attribute name="upgradeValue" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The UpgradeValue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maximum" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Maximum.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.LevelCachedCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:CacheDB.Net.LevelCachedCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:CacheDB.Net.LevelCachedCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:CacheDB.Net.LevelCachedConfigCT">
				<xs:annotation>
					<xs:documentation>The LevelCachedConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.LevelCachedCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.LevelCachedCollectionClearCT" />
	<xs:complexType name="CacheDB.Net.DbManagerConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="properties" type="tns:CacheDB.Net.PropertyCollectionCT">
				<xs:annotation>
					<xs:documentation>The Properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="formater" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Formater.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.PropertyConfigCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.PropertyCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:CacheDB.Net.PropertyCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:CacheDB.Net.PropertyCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:CacheDB.Net.PropertyConfigCT">
				<xs:annotation>
					<xs:documentation>The PropertyConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.PropertyCollectionRemoveCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.PropertyCollectionClearCT" />
	<xs:complexType name="CacheDB.Net.PolicyConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="properties" type="tns:CacheDB.Net.PropertyCollectionCT">
				<xs:annotation>
					<xs:documentation>The Properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="objectType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ObjectType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.PolicyCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:CacheDB.Net.PolicyCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:CacheDB.Net.PolicyCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:CacheDB.Net.PolicyConfigCT">
				<xs:annotation>
					<xs:documentation>The PolicyConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.PolicyCollectionRemoveCT">
		<xs:attribute name="objectType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ObjectType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CacheDB.Net.PolicyCollectionClearCT" />
</xs:schema>
